
/* root menu */
:root{
    --blue:#0A91DE;
    --header-color: #727B81;
    --navigation-color: #666F74;
    --grey: #DDDDDD;
    --panel-bg: #FFFFFF;

    /* font family */
    --logo-font:"Nunito", sans-serif;
    --navigation-font:  "Manrope", sans-serif;
}

body {
    background-color: #EEEEEE;
    font-family: var(--navigation-font);
    color: var(--navigation-color);
    margin: 0;
    padding: 0;
}

 header{
background-color: var(--panel-bg);
width: 14.5rem;
height: 100%;
border: .0625rem solid var(--grey);
padding: 1.25rem 1rem 1rem;
position: fixed;
}


/* global typography */

h1 {
    font-family: var(--logo-font);
    color: var(--header-color);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5
}

span {
    color: var(--blue);
}

p {
    font-family: var(--navigation-font);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--header-color);
    border-bottom: .0625rem solid var(--grey);
    margin-bottom: 1.5rem;
    padding: .5rem;
}

/* main content */
.inner-container {
   max-width: 77.5rem;
   margin: 0 auto;
    background-color: #EEEEEE;
    min-height: 100%;
}

.main-menu {
    list-style: none;
    padding: 0;
}

svg {
    width: 1.6875rem;
    height: 1.6875rem;
    fill: none;
    stroke: var(--navigation-color);
}

.main-menu > li {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--navigation-color);
    font-weight: 500;
}

.sub-menu {
    list-style: none;
    padding: 0;
    background-color: var(--panel-bg);
    border: .0625rem solid var(--blue);
    border-radius: .4375rem;
    position: absolute;
    left: 70%;
    top: -1.1rem;
    min-width: 10.875rem;
    padding: 1.125rem;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.sub-menu li {
    border-bottom: .0625rem solid var(--grey);
    padding: .5rem 0;
}

.sub-menu li:first-of-type {
padding-top: 0;
}

.sub-menu li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu li:hover {
    color: var(--blue);
    cursor: pointer;
}
